<form action="/" method="post">
    {% csrf_token %}
    <div class="row mb-4">
        <label class="visually-hidden" for="specificSizeSelect">URL Type</label>
        <div class="col-sm-2">
            <select class="form-select form-select-lg" id="specificSizeSelect">
                <option selected>Formato</option>
                <option value="1">Auto-detectar</option>
                <option value="2">XML</option>
                <option value="3">Markdown</option>
                <option value="4">HTML</option>
                <option value="5">Wikipedia</option>
            </select>
        </div>
        <div class="col-sm-8">
            {{form.to_be_scrapped}}
        </div>
        <div class="col-sm-2">
            <button class="button-29" type="submit" role="button">Gerar conteúdo</button>
        </div>
    </div>
    <div class="row mb-4 align-items-center">
        <div class="col checkbox">
            <input class="form-check-input" type="checkbox" id="should-resume">
            <label class="form-check-label" for="should-resume">
                Resumir
                <a class="d-inline-block" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Deixar desmarcado irá gerar o conteúdo do link sem resumir.">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm169.8-90.7c7.9-22.3 29.1-37.3 52.8-37.3h58.3c34.9 0 63.1 28.3 63.1 63.1c0 22.6-12.1 43.5-31.7 54.8L280 264.4c-.2 13-10.9 23.6-24 23.6c-13.3 0-24-10.7-24-24V250.5c0-8.6 4.6-16.5 12.1-20.8l44.3-25.4c4.7-2.7 7.6-7.7 7.6-13.1c0-8.4-6.8-15.1-15.1-15.1H222.6c-3.4 0-6.4 2.1-7.5 5.3l-.4 1.2c-4.4 12.5-18.2 19-30.6 14.6s-19-18.2-14.6-30.6l.4-1.2zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z"/></svg>
                </a>
            </label>
        </div>
    </div>
    

</form>
